<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>게시판</title>
  <nav>게시글</nav>
</head>
<body>
<div>
  <br/>
  <div align="center">
    <form th:object="${content}" method="post">
      <div class="form-group" align="left">
        <div th:text="|작성자 : ${content.writer}|"></div>
        <div th:text="|제목: *{title}|"></div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요" width="400px">
        <br><br>
        <h3>내용</h3>
        <div class="texts" th:text="*{texts}"></div>
        <!-- Comments -->
        <br>
        <div class="card my-4" th:if="${comments.size()} != 0">
          <h4 class="card-header">댓글</h4>
          <div class="comment">
            <div th:each="comment : ${comments}">
              <div class="media mb-4">
                <div class="media-body">
                  <img class="d-flex mr-3 rounded-circle" th:src="${comment.getImageUrl()}" alt="User image" width="50" height="50">
                  <h5 class="mt-0" th:text="${comment.getNickname()}">User Name</h5>
                  <p th:text="${comment.getComment()}" th:id="'comment-' + ${comment.getId()}">Comment content</p>
                  <small class="text-muted" th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy-MM-dd HH:mm')}">Comment Date</small>
                  <!--            <div th:if="${comment.getEmail() == #authentication.principal.username}">-->
                  <!--              <button class="btn btn-sm btn-outline-warning" th:attr="data-id=${comment.getId()}" onclick="editComment(this)">Edit</button>-->
                  <!--              <a th:href="@{/board/{id}/comment/{commentId}/remove(id=${id}, commentId=${comment.getId()})}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Delete this comment?')">Delete</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- Comments Form -->
        <h3>댓글 작성</h3>
        <textarea name="comment" class="comment"></textarea>
        <button th:formaction="@{|/boards/free/${content.id}/comment|}" class="select-btn">Submit</button>
      </div>
        <div class="select-btn">
          <button th:formaction="@{|/boards/free/editPage/${content.id}|}">수정</button>
          <button th:formaction="@{|/boards/free/delete/${content.id}|}">삭제</button>
          <button type="button" th:onclick="|location.href='@{/boards/free}'|">뒤로가기</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>