<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>게시판</title>
  <nav>글 쓰기 화면</nav>
</head>
<body>
<div>
  <br/>
  <div align="center">
    <form th:object="${content}" th:action="@{|/boards/greeting/editPage/${content.id}|}"method="post">
      <div class="form-group" align="left">
        <div th:text="|작성자 : ${content.writer}|"></div>
<!--        <label for="title">글 제목 : </label>-->
<!--        <input type="text" id="title" name="title" th:field="*{title}" placeholder="제목을 입력하세요" width="400px">-->
        <div th:text="|제목: *{title}|"></div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요" width="400px">
        <br><br>
        <h3>내용</h3>
        <div class="texts" th:text="*{texts}"></div>
      </div>
      <div>
        <button>수정</button>
        <form th:object="${content}" th:action="@{|/boards/greeting/delete/${content.id}|}">
          <button>삭제</button>
        </form>
        <button th:action="@{|/boards/greeting/|}" >뒤로가기</button>
      </div>

    </form>
  </div>
</div>
</body>
</html>